/target/
/generated/
/GPUCache/
/flamegraph.svg
/perf.data*
/chunks/

/assets/*
!/assets/grass_block_*.png
!/assets/font

/assets/font/*
!/assets/font/ascii_shadow.png

/release/


profile.txt
callgrind.out.*
build.rs
shell.sh
